<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jmu.mapper.AircraftTypeMapper">

    <insert id="insert">
        insert into aircrafttype VALUES (#{typeID},#{typeName},#{capacity})
    </insert>

    <update id="update">
        update aircrafttype set type_name=#{typeName} ,capacity=#{capacity}
        where type_id=#{typeID}
    </update>

    <delete id="deleteByID">
        delete from aircrafttype where type_id=#{typeID}
    </delete>

    <select id="selectByID" resultType="jmu.pojo.AircraftType">
        select * from aircrafttype where type_id=#{typeID}
    </select>

    <select id="selectAll" resultType="java.util.Map">
        select * from aircrafttype;
    </select>

</mapper>