<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jmu.mapper.AirTicketMapper">

    <insert id="insertAirTicket">
        insert into airticket(air_ticket_id,passenger_id, order_id, ticket_type_id,total_costs,seat_number,book_time,cabin_id)
        VALUES (#{airTicketID},#{passengerID}, #{orderID}, #{ticketTypeID},#{totalCosts}, #{seatNumber}, #{bookTime},#{cabinID})
    </insert>
    
    <insert id="insertAirTickets">
        insert into airticket(air_ticket_id,passenger_id, order_id, ticket_type_id,total_costs,seat_number,book_time,cabin_id)
        values
        <foreach collection="airTickets" item="airTicket" separator=",">
            (#{airTicket.airTicketID},#{airTicket.passengerID},#{airTicket.orderID},#{airTicket.ticketTypeID},#{airTicket.totalCosts},#{airTicket.seatNumber},#{airTicket.bookTime},#{airTicket.cabinID})
        </foreach>
    </insert>
    
    <update id="updateAirTicket">
        update airticket
        set passenger_id=#{passengerID},
            order_id=#{orderID},
            ticket_type_id=#{ticketTypeID},
            total_costs=#{totalCosts},
            seat_number=#{seatNumber},
            book_time=#{bookTime},
            cabin_id = #{cabinID}
        where air_ticket_id = #{airTicketID} and book_time=#{bookTime}
    </update>

    <delete id="deleteByIDTime">
        delete
        from airticket
        where air_ticket_id = #{airTicketID} and book_time=#{bookTime}
    </delete>

    <resultMap id="airTicketCabin" type="jmu.pojo.AirTicket">
        <id column="air_ticket_id" property="airTicketID" />
        <id column="book_time" property="bookTime" />
        <result column="passenger_id" property="passengerID" />
        <result column="order_id" property="orderID" />
        <result column="ticket_type_id" property="ticketTypeID" />
        <result column="total_costs" property="totalCosts" />
        <result column="seat_number" property="seatNumber" />
        <result column="cabin_id" property="cabinID" />
        <association property="cabin" javaType="jmu.pojo.Cabin">
            <id column="cabin_id" property="cabinID" />
            <result column="cabin_class" property="cabinClass" />
        </association>
    </resultMap>

    <select id="selectByIDTime" resultMap="airTicketCabin">
        select *
        from airticket a left join cabin on a.cabin_id = cabin.cabin_id
        where air_ticket_id = #{airTicketID} and book_time=#{bookTime}
    </select>

    <select id="selectAirTicketsByOrderID" resultMap="airTicketCabin">
        select *
        from airticket a left join cabin on a.cabin_id = cabin.cabin_id
        where order_id = #{orderID}
    </select>

    <resultMap id="airTicketPassenger" type="jmu.pojo.AirTicket">
        <id column="air_ticket_id" property="airTicketID" />
        <id column="book_time" property="bookTime" />
        <id column="passenger_id" property="passengerID" />
        <result column="order_id" property="orderID" />
        <result column="ticket_type_id" property="ticketTypeID" />
        <result column="total_costs" property="totalCosts" />
        <result column="seat_number" property="seatNumber" />
        <result column="cabin_id" property="cabinID" />
        <association property="passenger" javaType="jmu.pojo.Passenger">
            <id column="passenger_id" property="passengerID" />
            <result column="passenger_name" property="passengerName" />
            <result column="sex" property="sex" />
            <result column="phone" property="phone" />
        </association>
        <association property="cabin" javaType="jmu.pojo.Cabin">
            <id column="cabin_id" property="cabinID" />
            <result column="cabin_class" property="cabinClass" />
        </association>
    </resultMap>

    <select id="queryAirTicketPassenger" resultMap="airTicketPassenger">
        select air.*,passenger_name,sex,phone,cabin_class
        from airticket air,passenger p,cabin c
        where air.passenger_id=p.passenger_id and air.cabin_id=c.cabin_id and air.air_ticket_id=#{airTicketID}
    </select>
</mapper>