<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jmu.mapper.UserMapper">
    <insert id="insertUser">
        insert into user(user_id, user_name, user_password, permission,phone,email,birth_date,balance)
        values (#{userID}, #{userName}, #{userPassword}, #{permission},#{phone},#{email},#{birthDate},#{balance})
    </insert>

    <update id="updateUser">
        update user set user_name=#{userName},user_password=#{userPassword},phone=#{phone},email=#{email}
        where user_id=#{userID}
    </update>

    <update id="updateUserBalance">
        update user set balance=#{balance}
        where user_id=#{userID}
    </update>

    <delete id="deleteUser">
        delete from user where user_id=#{userID}
    </delete>

    <select id="selectAll" resultType="jmu.pojo.User">
        select * from user
    </select>
    <select id="selectUser" resultType="jmu.pojo.User">
        select * from user where user_id=#{userID} and user_password=#{userPassword}
    </select>
    <select id="selectID" resultType="jmu.pojo.User">
        select * from user where user_id=#{userID}
    </select>

</mapper>