<!doctype html>
<html lang="cn" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <title>订票</title>
        <link rel="stylesheet" th:href="@{/css/reset.css}">
        <link rel="stylesheet" th:href="@{/css/iconfont.css}">
        <link rel="stylesheet" th:href="@{/css/home.css}">
        <link rel="stylesheet" th:href="@{/css/datepicker.css}">
        <link rel="stylesheet" th:href="@{/css/center.css}">
        <link rel="stylesheet" th:href="@{/css/passenger.css}">
        <link rel="stylesheet" th:href="@{/css/bookflight.css}">
    </head>
    <body>
        <div id="home_container">
            <div class="home_box">
                <header>
                    <section class="title">
                        <embed th:src="@{/img/airplane-log.svg}" type="image/svg+xml" />
                        <h2>人人航空</h2>
                    </section>
                    <nav class="menu">
                        <ul>
                            <li><a href="/user/home">首页</a></li>
                            <li><a href="/user/flight">预订机票</a></li>
                            <li><a href="/user/myorder">我的订单</a></li>
                            <li><a href="/user/user_center">个人中心</a></li>
                        </ul>
                    </nav>
                    <aside class="login_register">
                        <ul th:if="${session.userID} == null">
                            <li><a href="/user/login">注册</a></li>
                            <li><a href="/user/login">登录</a></li>
                        </ul>
                        <span th:if="${session.userID} != null">欢迎，[[${session.userName}]]</span>
                    </aside>
                </header>
                <div class="box-shadow"></div>
            </div>
            <div class="home_box">
                <main>
                    <section class="inner book-flight">
                        <div class="icon">
                            <h2>预订航班</h2>
                            <div></div>
                        </div>
                        <div class="or_content">
                            <div class="t_form">
                                <button type="button" class="btn">单程</button>
                                <button type="button" class="btn">返程</button>
                                <button type="button" class="btn">多程</button>
                            </div>
                            <hr color="#17C0EB" />
                            <div class="or_box">
                                <div class="city">
                                    <input class="city_in" type="text" id="startCity" th:value="${startCity}" onclick="getContent(this);" onKeyup="getContent(this);" placeholder="出发城市" name="startCity"/>
                                    <div class="or_ex swap">
                                        <span class="iconfont icon-exchange4jiaohuan or_ex_btn"></span>
                                    </div>
                                    <input class="city_in" id="endCity" th:value="${endCity}" type="text" onclick="getContent2(this);" onKeyup="getContent2(this);" placeholder="到达城市" name="endCity" />
                                    <button class="city_in calendar-item" id="takeoffDate" th:text="${date}" type="button" name="date">选择日期</button>
                                </div>
                                <div class="append start-app">
                                    <ul class="append-ul start-ul">
                                    </ul>
                                </div>
                                <div class="append end-app">
                                    <ul class="append-ul end-ul">
                                    </ul>
                                </div>
                                <div class="or_que">
                                    <button class="flight-query" type="button">查询</button>
                                </div>
                            </div>
                            
                        </div>
                        <div class="flight-head" th:if="${show}!=0">
                            <div>
                                <span>单程：</span>
                                <span class="flight-takeoff" th:text="${startCity}">厦门</span>
                                <span class="iconfont icon-jiantou_xiangyouliangci"></span>
                                <span class="flight-arrive" th:text="${endCity}">上海</span>
                            </div>
                            <span th:text="${date}">2022-7-16</span>
                        </div>
                        <div class="flight-warning" th:if="${msg}!=null and ${show}!=0">
                            <span class="iconfont icon-warning"></span>
                            <span>没有任何航班</span>
                        </div>
                        <div class="passenger" th:if="${msg}==null and ${show}!=0">
                            <div class="pa_ta">
                                <table>
                                    <tr><th>航班号</th><th>机型</th><th>起飞地址</th><th>起飞时间</th><th>到达地址</th><th>到达时间</th><th>余票</th><th>预订</th></tr>
                                    <tr th:each="item:${flightList}">
                                        <td th:text="${item.onFlightID}">CA1789</td>
                                        <td th:text="${item.typeID}">波音767</td>
                                        <td th:text="${item.ticketType.startStationName}">厦门高崎国际机场T2</td>
                                        <td th:text="${item.estimatedTakeoffTime}">2022-07-25 18:00:00</td>
                                        <td th:text="${item.ticketType.endStationName}">上海浦东国际机场T2</td>
                                        <td th:text="${item.estimatedArrivalTime}">2022-07-25 20:00:00</td>
                                        <td th:text="${item.ticketType.remainingTickets}">123</td>
                                        <td th:text="${item.ticketType.ticketPricing}" style="display: none;"></td>
                                        <td th:text="${item.ticketType.discount}" style="display: none;"></td>
                                        <td th:text="${item.ticketType.insuranceCosts}" style="display: none;"></td>
                                        <td th:text="${item.ticketType.ticketTypeID}" style="display: none;"></td>
                                        <td class="pa_td flight-book"><span class="iconfont icon-cart-Empty"></span></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </section>
                    <section class="inner book-passenger">
                        <div class="or_content">
                            <div class="flight-head">
                                <span>我的乘机人</span>
                            </div>
                            <div class="passenger">
                                <div class="pa_btn">
                                    <button type="button"><span class="iconfont icon-add"></span>添加乘机人</button>
                                    <div class="append">
                                        <ul class="append-ul">
                                            <li><span>张三</span><span>123456789123456789</span><span></span><span>12345678912</span></li>
                                            <li><span>张三</span><span>123456789123456789</span><span></span><span>12345678912</span></li>
                                            <li><span>张三</span><span>123456789123456789</span><span></span><span>12345678912</span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="pa_ta">
                                    <table>
                                        <tr><th>姓名</th><th>账号</th><th>手机号</th><th>删除</th></tr>
                                    </table>
                                </div>
                            </div>
                            <div class="flight-nav">
                                <button type="button" class="flight-prev">上一步</button>
                                <button type="button" class="flight-next">下一步</button>
                            </div>
                        </div>
                    </section>
                    <section class="inner book-order">
                        <div class="icon">
                            <h2>订单生成</h2>
                            <div></div>
                        </div>
                        <div class="order">
                            <form class="lg-box-outer">
                                <fieldset>
                                    <legend>
                                        <h2>订单信息</h2>
                                    </legend>
                                    <section class="form-group">
                                        <label for="ticketTypeID">航班ID</label>
                                        <input id="ticketTypeID" name="ticketTypeID" type="text" readonly />
                                    </section>
                                    <section class="form-group">
                                        <label for="startStation">起始站机场</label>
                                        <input id="startStation" name="startStation" type="text" readonly />
                                    </section>
                                    <section class="form-group">
                                        <label for="endStation">终点站机场</label>
                                        <input id="endStation" name="endStation" type="text" readonly />
                                    </section>
                                    <section class="form-group">
                                        <label for="takeoffTime">起飞时间</label>
                                        <input id="takeoffTime" name="takeoffTime" type="text" readonly />
                                    </section>
                                    <section class="form-group">
                                        <label for="arrivalTime">到达时间</label>
                                        <input id="arrivalTime" name="arrivalTime" type="text" readonly />
                                    </section>
                                    <section class="form-group">
                                        <label for="ticketPricing">机票定价</label>
                                        <input id="ticketPricing" name="ticketPricing" type="text" readonly />
                                    </section>
                                    <section class="form-group">
                                        <label for="discount">折扣</label>
                                        <input id="discount" name="discount" type="text" readonly />
                                    </section>
                                    <section class="form-group">
                                        <label for="insuranceCosts">保险费用</label>
                                        <input id="insuranceCosts" name="insuranceCosts" type="text" readonly />
                                    </section>
                                    <section class="form-group">
                                        <label for="ticketCost">总费用</label>
                                        <input id="ticketCost" name="ticketCost" type="text" readonly />
                                    </section>
                                    <section class="order-passenger">
                                        <div class="order-ul">
                                            <div class="flight-head">
                                                <span>乘机人</span>
                                            </div>
                                        </div>
                                    </section>
                                    <section class="form-group">
                                        <button type="button" class="order-prev">上一步</button>
                                        <button type="button" class="form-submit">确定支付</button>
                                    </section>
                                </fieldset>
                            </form>
                        </div>
                    </section>
                </main>
            </div>
        </div>
        <script th:src="@{/component/jquery.min.js}"></script>
        <script th:src="@{/js/datepicker.js}"></script>
        <script th:src="@{/js/bookflight.js}"></script>
    </body>
</html>