<!doctype html>
<html lang="cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录注册</title>
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/iconfont.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
<div class="container right-panel-active">
    <!-- Sign Up -->
    <section class="container__form container--signup">
        <form id="form1">
            <fieldset>
                <legend><h2>sign up</h2></legend>
                <section>
                    <input type="text" id="account" name="userID" required/>
                    <label for="account"><span class="iconfont icon-account1"></span>身份证</label>
                </section>
                <aside>
                    <p><span class="iconfont icon-warning"></span>身份证不能为空</p>
                </aside>
                <section>
                    <input type="text" id="username" name="userName" required/>
                    <label for="username"><span class="iconfont icon-namecard"></span>用户名</label>
                </section>
                <aside>
                    <p><span class="iconfont icon-warning"></span>用户名不能为空</p>
                </aside>
                <section>
                    <input type="password" id="password" name="userPassword" required/>
                    <label for="password"><span class="iconfont icon-password"></span>密码</label>
                </section>
                <aside>
                    <p><span class="iconfont icon-warning"></span>密码不能为空</p>
                </aside>
                <section>
<!--                    <input type="submit" value="注册" class="btn" onclick="judge(this)">-->
                    <button type="button" class="btn">注册</button>
                </section>
            </fieldset>
        </form>
    </section>

    <!-- Sign In -->
    <section class="container__form container--signin">
        <form id="form2">
            <fieldset>
                <legend><h2>log in</h2></legend>
                <section>
                    <input type="text" id="login_account" name="userID" required/>
                    <label for="login_account"><span class="iconfont icon-account1"></span>身份证</label>
                </section>
                <aside>
                    <p><span class="iconfont icon-warning"></span>身份证不能为空</p>
                </aside>
                <section>
                    <input type="password" id="login_password" name="userPassword" required/>
                    <label for="login_password"><span class="iconfont icon-password"></span>密码</label>
                </section>
                <aside>
                    <p><span class="iconfont icon-warning"></span>密码不能为空</p>
                </aside>
                <section>
<!--                    <input type="submit" value="登录" class="btn" onclick="judge(this)">-->
                    <button type="button" class="btn">登录</button>
                </section>
            </fieldset>
        </form>
    </section>

    <!-- Overlay -->
    <section class="container__overlay">
        <div class="overlay">
            <div class="overlay__panel overlay--left">
                <button class="btn" id="signIn" onclick="cleaner()">Sign In</button>
            </div>
            <div class="overlay__panel overlay--right">
                <button class="btn" id="signUp" onclick="cleaner()">Sign Up</button>
            </div>
        </div>
    </section>
    <p th:if="${msg}!=null" id="alertText" style="display: none;">[[${msg}]]</p>
</div>
<script th:src="@{/component/jquery.min.js}"></script>
<script th:src="@{/js/index.js}"></script>
</body>
</html>