<!doctype html>
<html lang="cn" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <title>个人中心</title>
        <link rel="stylesheet" th:href="@{/css/reset.css}">
        <link rel="stylesheet" th:href="@{/css/iconfont.css}">
        <link rel="stylesheet" th:href="@{/css/home.css}">
        <link rel="stylesheet" th:href="@{/css/center.css}">
        <link rel="stylesheet" th:href="@{/css/passenger.css}">
        <link rel="stylesheet" th:href="@{/css/addInfor.css}">
        <style>
            section.inner section.form-group label{
                width: 140px;
            }
            .modal form{
                position: relative;
            }
            .append{
                display: none;
                position: absolute;
                top: 150px;
                right: 70px;
                width: 45%;
                height: 250px;
                overflow-y: scroll;
                box-shadow: 0 2px 5px 0 rgb(0 0 0 / 18%);
                padding: 12px 10px;
                background-color: #FFF;
                z-index: 10;
            }
            .append ul li{
                display: grid;
                grid-template-columns: 1fr 2fr;
                align-items: center;
                padding: 10px 5px;
                font-size: 0.8rem;
                transition: all .5s;
                cursor: pointer;
            }
            .add-terminal .append{
                top: 220px;
            }
            .add-terminal .append ul li{
                grid-template-columns: 1fr 1fr 1fr;
            }
            .add-flight .append{
                top: 220px;
            }
            .addbg{
                background-color: #C1E5FF;
            }
        </style>
    </head>
    <body>
        <div id="home_container">
            <div class="home_box">
                <header>
                    <section class="title">
                        <embed th:src="@{/img/airplane-log.svg}" type="image/svg+xml" />
                        <h2>人人航空</h2>
                    </section>
                    <nav class="menu">
                        <ul>
                            <li><a href="/user/home">首页</a></li>
                            <li><a href="/user/flight">预订机票</a></li>
                            <li><a href="/user/myorder">我的订单</a></li>
                            <li><a href="/user/user_center">个人中心</a></li>
                        </ul>
                    </nav>
                    <aside class="login_register">
                        <ul th:if="${session.userID} == null">
                            <li><a href="/user/login">注册</a></li>
                            <li><a href="/user/login">登录</a></li>
                        </ul>
                        <span th:if="${session.userID} != null">欢迎，[[${session.userName}]]</span>
                    </aside>
                </header>
                <div class="box-shadow"></div>
            </div>
            <div class="home_box">
                <main>
                    <nav class="center-infor">
                        <ul>
                            <li class="ref-infor"><span class="iconfont icon-gerenxinxi_o"></span><span>个人信息</span></li>
                            <li class="ref-passenger"><span class="iconfont icon-Customermanagement"></span><span>我的乘机人</span></li>
                            <li class="ref-order"><span class="iconfont icon-manage-order"></span><span>我的订单</span></li>
                            <li class="ref-pay"><span class="iconfont icon-jinbi_o"></span><span>充值中心</span></li>
                            <li th:if="${session.permission}==1" class="ref-city"><span class="iconfont icon-logistic-logo"></span><span>城市信息</span></li>
                            <li th:if="${session.permission}==1" class="ref-airport"><span class="iconfont icon-flight2"></span><span>机场信息</span></li>
                            <li th:if="${session.permission}==1" class="ref-flight"><span class="iconfont icon-terminal"></span><span>航班信息</span></li>
                            <li th:if="${session.permission}==1" class="ref-user"><span class="iconfont icon-user-group"></span><span>用户信息</span></li>
                            <li th:if="${session.permission}==1" class="ref-add li-action"><span class="iconfont icon-database-plus"></span><span>添加信息</span></li>
                        </ul>
                    </nav>
                    <section class="inner">
                        <div class="icon">
                            <h2>添加信息</h2>
                            <div></div>
                        </div>
                        <div class="add-box">
                            <div class="add-infor">
                                <span>增加城市</span>
                            </div>
                            <div class="modal">
                                <form class="lg-box-outer add-city">
                                    <div class="lg-box-title">
                                        <span class="iconfont icon-close close"></span>
                                        <h2>增加城市</h2>
                                    </div>
                                    <fieldset>
                                        <legend>
                                            <h2>增加城市</h2>
                                        </legend>
                                        <section class="form-group">
                                            <label for="MemberCityID">城市ID</label>
                                            <input id="MemberCityID" name="cityID" type="text" autocomplete="off" required />
                                        </section>
                                        <aside>
                                            <p><span class="iconfont icon-warning"></span>城市ID不能为空</p>
                                        </aside>
                                        <section class="form-group">
                                            <label for="MemberCityName">城市名</label>
                                            <input id="MemberCityName" name="cityName" type="text" required />
                                        </section>
                                        <aside>
                                            <p><span class="iconfont icon-warning"></span>城市名不能为空</p>
                                        </aside>
                                        <section class="form-group">
                                            <button type="button" class="form-submit">添加</button>
                                            <button type="button" class="pa-reset">重置</button>
                                        </section>
                                    </fieldset>
                                </form>
                                <footer></footer>
                            </div>
                            <div class="add-infor query-city">
                                <span>增加机场</span>
                            </div>
                            <div class="modal">
                                <form class="lg-box-outer add-air">
                                    <div class="lg-box-title">
                                        <span class="iconfont icon-close close"></span>
                                        <h2>增加机场</h2>
                                    </div>
                                    <fieldset>
                                        <legend>
                                            <h2>增加机场</h2>
                                        </legend>
                                        <section class="form-group">
                                            <label for="MemberAirCityID">城市ID</label>
                                            <input id="MemberAirCityID" name="cityID" type="text" autocomplete="off" onKeyup="getContent(this);" required />
                                        </section>
                                        <aside>
                                            <p><span class="iconfont icon-warning"></span>城市ID不能为空</p>
                                        </aside>
                                        <section class="form-group">
                                            <label for="MemberAirId">机场三字码</label>
                                            <input id="MemberAirId" name="airportID" type="text" required />
                                        </section>
                                        <aside>
                                            <p><span class="iconfont icon-warning"></span>机场三字码不能为空</p>
                                        </aside>
                                        <section class="form-group">
                                            <label for="MemberAirName">机场名</label>
                                            <input id="MemberAirName" name="airportName" type="text" required />
                                        </section>
                                        <aside>
                                            <p><span class="iconfont icon-warning"></span>机场名不能为空</p>
                                        </aside>
                                        <section class="form-group">
                                            <button type="button" class="form-submit">添加</button>
                                            <button type="button" class="pa-reset">重置</button>
                                        </section>
                                    </fieldset>
                                    <div class="append">
                                        <ul class="append-ul">

                                        </ul>
                                    </div>
                                </form>

                            </div>
                            <div class="add-infor query-type">
                                <span>增加航班</span>
                            </div>
                            <div class="modal">
                                <form class="lg-box-outer add-flight">
                                    <div class="lg-box-title">
                                        <span class="iconfont icon-close close"></span>
                                        <h2>增加航班</h2>
                                    </div>
                                    <fieldset>
                                        <legend>
                                            <h2>增加航班</h2>
                                        </legend>
                                        <section class="form-group">
                                            <label for="MemberFlightID">航班ID</label>
                                            <input id="MemberFlightID" name="onFlightID" type="text" required />
                                        </section>
                                        <aside>
                                            <p><span class="iconfont icon-warning"></span>航班ID不能为空</p>
                                        </aside>
                                        <section class="form-group">
                                            <label for="MemberTypeID">机型ID</label>
                                            <input id="MemberTypeID" name="typeID" type="text" autocomplete="off" onKeyup="getContent3(this);" required />
                                        </section>
                                        <aside>
                                            <p><span class="iconfont icon-warning"></span>机型ID不能为空</p>
                                        </aside>
                                        <section class="form-group">
                                            <label for="MemberEstimatedTakeoffTime">预计起飞时间</label>
                                            <input id="MemberEstimatedTakeoffTime" name="estimatedTakeoffTime" type="datetime-local" required />
                                        </section>
                                        <aside>
                                            <p><span class="iconfont icon-warning"></span>预计起飞时间不能为空</p>
                                        </aside>
                                        <section class="form-group">
                                            <label for="MemberEstimatedArrivalTime">预计到达时间</label>
                                            <input id="MemberEstimatedArrivalTime" name="estimatedArrivalTime" type="datetime-local" required />
                                        </section>
                                        <aside>
                                            <p><span class="iconfont icon-warning"></span>预计到达时间不能为空</p>
                                        </aside>
                                        <section class="form-group">
                                            <label for="MemberBoardingGate">登机口</label>
                                            <input id="MemberBoardingGate" name="boardingGate" type="text" required />
                                        </section>
                                        <aside>
                                            <p><span class="iconfont icon-warning"></span>登机口不能为空</p>
                                        </aside>
                                        <section class="form-group">
                                            <label for="MemberStartAirId">起始站机场ID</label>
                                            <input id="MemberStartAirId" name="startAirportID" type="text" required />
                                        </section>
                                        <aside>
                                            <p><span class="iconfont icon-warning"></span>起始站机场ID不能为空</p>
                                        </aside>
                                        <section class="form-group">
                                            <label for="MemberStartStationID">起始站ID</label>
                                            <input id="MemberStartStationID" name="startStationID" type="text" required />
                                        </section>
                                        <aside>
                                            <p><span class="iconfont icon-warning"></span>起始站ID不能为空</p>
                                        </aside>
                                        <section class="form-group">
                                            <label for="MemberEndAirportID">终点站机场ID</label>
                                            <input id="MemberEndAirportID" name="endAirportID" type="text" required />
                                        </section>
                                        <aside>
                                            <p><span class="iconfont icon-warning"></span>终点站机场ID不能为空</p>
                                        </aside>
                                        <section class="form-group">
                                            <label for="MemberEndStationID">终点站ID</label>
                                            <input id="MemberEndStationID" name="endStationID" type="text" required />
                                        </section>
                                        <aside>
                                            <p><span class="iconfont icon-warning"></span>终点站ID不能为空</p>
                                        </aside>
                                        <section class="form-group">
                                            <label for="MemberTicketPricing">机票定价</label>
                                            <input id="MemberTicketPricing" name="ticketPricing" type="text" required />
                                        </section>
                                        <aside>
                                            <p><span class="iconfont icon-warning"></span>机票定价不能为空</p>
                                        </aside>
                                        <section class="form-group">
                                            <label for="MemberDiscount">折扣</label>
                                            <input id="MemberDiscount" name="discount" type="text" required />
                                        </section>
                                        <aside>
                                            <p><span class="iconfont icon-warning"></span>折扣不能为空</p>
                                        </aside>
                                        <section class="form-group">
                                            <label for="MemberInsuranceCosts">保险费用</label>
                                            <input id="MemberInsuranceCosts" name="insuranceCosts" type="text" required />
                                        </section>
                                        <aside>
                                            <p><span class="iconfont icon-warning"></span>保险费用不能为空</p>
                                        </aside>
                                        <section class="form-group">
                                            <label for="MemberTicketCount">总数</label>
                                            <input id="MemberTicketCount" name="ticketCount" type="text" required />
                                        </section>
                                        <aside>
                                            <p><span class="iconfont icon-warning"></span>总数不能为空</p>
                                        </aside>
                                        <section class="form-group">
                                            <button type="button" class="form-submit">添加</button>
                                            <button type="button" class="pa-reset">重置</button>
                                        </section>
                                    </fieldset>
                                    <div class="append">
                                        <ul class="append-ul">

                                        </ul>
                                    </div>
                                </form>
                                <footer></footer>
                            </div>
                            <div class="add-infor query-airport">
                                <span>增加航站楼</span>
                            </div>
                            <div class="modal">
                                <form class="lg-box-outer add-terminal">
                                    <div class="lg-box-title">
                                        <span class="iconfont icon-close close"></span>
                                        <h2>增加航站楼</h2>
                                    </div>
                                    <fieldset>
                                        <legend>
                                            <h2>增加航站楼</h2>
                                        </legend>
                                        <section class="form-group">
                                            <label for="MemberTerminalID">航站楼ID</label>
                                            <input id="MemberTerminalID" name="terminalID" type="text" required />
                                        </section>
                                        <aside>
                                            <p><span class="iconfont icon-warning"></span>航站楼ID不能为空</p>
                                        </aside>
                                        <section class="form-group">
                                            <label for="MemberTerminalAirID">机场ID</label>
                                            <input id="MemberTerminalAirID" name="airportID" type="text" autocomplete="off" onKeyup="getContent2(this);"  required />
                                        </section>
                                        <aside>
                                            <p><span class="iconfont icon-warning"></span>机场ID不能为空</p>
                                        </aside>
                                        <section class="form-group">
                                            <label for="MemberTerminalName">航站楼名称</label>
                                            <input id="MemberTerminalName" name="terminalName" type="text" required />
                                        </section>
                                        <aside>
                                            <p><span class="iconfont icon-warning"></span>航站楼名称不能为空</p>
                                        </aside>
                                        <section class="form-group">
                                            <button type="button" class="form-submit">添加</button>
                                            <button type="button" class="pa-reset">重置</button>
                                        </section>
                                    </fieldset>
                                    <div class="append">
                                        <ul class="append-ul">

                                        </ul>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </section>
                </main>
            </div>
        </div>
        <script th:src="@{/component/jquery.min.js}"></script>
        <script th:src="@{/js/MouseMove.js}"></script>
        <script th:src="@{/js/air.js}"></script>
        <script th:src="@{/js/myAdd.js}"></script>
    </body>
</html>