<!doctype html>
<html lang="cn" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <title>个人中心</title>
        <link rel="stylesheet" th:href="@{/css/reset.css}">
        <link rel="stylesheet" th:href="@{/css/iconfont.css}">
        <link rel="stylesheet" th:href="@{/css/home.css}">
        <link rel="stylesheet" th:href="@{/css/center.css}">
        <link rel="stylesheet" th:href="@{/css/myPay.css}">
    </head>
    <body>
        <div id="home_container">
            <div class="home_box">
                <header>
                    <section class="title">
                        <embed th:src="@{/img/airplane-log.svg}" type="image/svg+xml" />
                        <h2>人人航空</h2>
                    </section>
                    <nav class="menu">
                        <ul>
                            <li><a href="/user/home">首页</a></li>
                            <li><a href="#">预订机票</a></li>
                            <li><a href="#">我的订单</a></li>
                            <li><a href="/user/user_center">个人中心</a></li>
                        </ul>
                    </nav>
                    <aside class="login_register">
                        <ul th:if="${session.userID} == null">
                            <li><a href="/user/login">注册</a></li>
                            <li><a href="/user/login">登录</a></li>
                        </ul>
                        <span th:if="${session.userID} != null">欢迎，[[${session.userName}]]</span>
                    </aside>
                </header>
                <div class="box-shadow"></div>
            </div>
            <div class="home_box">
                <main>
                    <nav class="center-infor">
                        <ul>
                            <li class="ref-infor"><span class="iconfont icon-gerenxinxi_o"></span><span>个人信息</span></li>
                            <li class="ref-passenger"><span class="iconfont icon-Customermanagement"></span><span>我的乘机人</span></li>
                            <li class="ref-order"><span class="iconfont icon-manage-order"></span><span>我的订单</span></li>
                            <li class="ref-pay li-action"><span class="iconfont icon-jinbi_o"></span><span>充值中心</span></li>
                            <li class="ref-city"><span class="iconfont icon-logistic-logo"></span><span>城市信息</span></li>
                            <li class="ref-airport"><span class="iconfont icon-flight2"></span><span>机场信息</span></li>
                            <li class="ref-flight"><span class="iconfont icon-terminal"></span><span>航班信息</span></li>
                            <li class="ref-user"><span class="iconfont icon-user-group"></span><span>用户信息</span></li>
                            <li class="ref-add"><span class="iconfont icon-database-plus"></span><span>添加信息</span></li>
                        </ul>
                    </nav>
                    <section class="inner">
                        <div class="icon">
                            <h2>充值中心</h2>
                            <div></div>
                        </div>
                        <div class="my-pay">
                            <div class="form-pay">
                                <form>
                                    <fieldset>
                                        <legend><h2>充值业务</h2></legend>
                                        <section>
                                            <input type="text" name="balance" id="balance" onkeyup="value=value.replace(/^(0+)|[^\d]+$/g,'')" required>
                                            <label for="balance"><span class="iconfont icon-huobiliu_o"></span>充值金额</label>
                                        </section>
                                        <section>
                                            <button type="button" class="pay-btn">充值</button>
                                        </section>
                                    </fieldset>
                                </form>
                            </div>
                            <div class="piggy-wrapper">
                                <div class="piggy-wrap">
                                    <div class="piggy">
                                        <div class="nose"></div>
                                        <div class="mouth"></div>
                                        <div class="ear"></div>
                                        <div class="tail">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                        </div>
                                        <div class="eye"></div>
                                        <div class="hole"></div>
                                        <div class="piggy-balance">
                                            <span class="iconfont icon-renminbi" th:text="${balance}">12345</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="coin-wrap">
                                    <div class="coin">$</div>
                                </div>
                                <div class="legs"></div>
                                <div class="legs back"></div>
                            </div> 
                        </div>
                    </section>
                </main>
            </div>
        </div>
        <script th:src="@{/component/jquery.min.js}"></script>
        <script th:src="@{/js/center.js}"></script>
        <script th:src="@{/js/air.js}"></script>
    </body>
</html>