<!doctype html>
<html lang="cn" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <title>个人中心</title>
        <link rel="stylesheet" th:href="@{/css/reset.css}">
        <link rel="stylesheet" th:href="@{/css/iconfont.css}">
        <link rel="stylesheet" th:href="@{/css/home.css}">
        <link rel="stylesheet" th:href="@{/css/center.css}">
        <link rel="stylesheet" th:href="@{/css/passenger.css}">
        <link rel="stylesheet" th:href="@{/css/city.css}">
        <style>

            .append ul li{
                grid-template-columns: 2fr 1fr;
            }
        </style>
    </head>
    <body>
        <div id="home_container">
            <div class="home_box">
                <header>
                    <section class="title">
                        <embed th:src="@{/img/airplane-log.svg}" type="image/svg+xml" />
                        <h2>人人航空</h2>
                    </section>
                    <nav class="menu">
                        <ul>
                            <li><a href="/user/home">首页</a></li>
                            <li><a href="#">预订机票</a></li>
                            <li><a href="#">我的订单</a></li>
                            <li><a href="/user/user_center">个人中心</a></li>
                        </ul>
                    </nav>
                    <aside class="login_register">
                        <ul th:if="${session.userID} == null">
                            <li><a href="/user/login">注册</a></li>
                            <li><a href="/user/login">登录</a></li>
                        </ul>
                        <span th:if="${session.userID} != null">欢迎，[[${session.userName}]]</span>
                    </aside>
                </header>
                <div class="box-shadow"></div>
            </div>
            <div class="home_box">
                <main>
                    <nav class="center-infor">
                        <ul>
                            <li class="ref-infor"><span class="iconfont icon-gerenxinxi_o"></span><span>个人信息</span></li>
                            <li class="ref-passenger"><span class="iconfont icon-Customermanagement"></span><span>我的乘机人</span></li>
                            <li class="ref-order"><span class="iconfont icon-manage-order"></span><span>我的订单</span></li>
                            <li class="ref-pay"><span class="iconfont icon-jinbi_o"></span><span>充值中心</span></li>
                            <li class="ref-city"><span class="iconfont icon-logistic-logo"></span><span>城市信息</span></li>
                            <li class="ref-airport"><span class="iconfont icon-flight2"></span><span>机场信息</span></li>
                            <li class="ref-flight"><span class="iconfont icon-terminal"></span><span>航班信息</span></li>
                            <li class="ref-user li-action"><span class="iconfont icon-user-group"></span><span>用户信息</span></li>
                            <li class="ref-add"><span class="iconfont icon-database-plus"></span><span>添加信息</span></li>
                        </ul>
                    </nav>
                    <section class="inner">
                        <div class="icon">
                            <h2>用户信息</h2>
                            <div></div>
                        </div>
                        <div class="city-search">
                            <form>
                                <section>
                                    <span id="kw-city-key"></span>
                                    <span id="kw-airport-key"></span>
                                    <input id="kw" onKeyup="getContent(this);" required/>
                                    <label for="kw">关键字搜索</label>
                                </section>
                                <section>
                                    <button type="button"><span class="iconfont icon-search"></span></button>
                                </section>
                            </form>
                            <div class="append">
                                <ul class="append-ul">
                                    
                                </ul>
                            </div>
                        </div>
                        <div class="passenger">
						    <div class="pa_ta">
                                <table>
                                    <tr><th>用户ID</th><th>姓名</th><th>密码</th><th>权限</th><th>电话号码</th><th>邮箱</th><th>余额</th><th>删除</th></tr>
                                    <tr><td>520221200112252001</td><td>张三</td><td>123456</td><td>0</td><td>19859252970</td><td>124@qq.com</td><td>100</td><td class="pa_td pa-cl"><span class="iconfont icon-shanchu_o"></span></td></tr>
                                    <tr><td>520221200112252001</td><td>张三</td><td>123456</td><td>0</td><td>19859252970</td><td>124@qq.com</td><td>100</td><td class="pa_td pa-cl"><span class="iconfont icon-shanchu_o"></span></td></tr>
                                    <tr><td>520221200112252001</td><td>张三</td><td>123456</td><td>0</td><td>19859252970</td><td>124@qq.com</td><td>100</td><td class="pa_td pa-cl"><span class="iconfont icon-shanchu_o"></span></td></tr>
                                    <tr><td>520221200112252001</td><td>张三</td><td>123456</td><td>0</td><td>19859252970</td><td>124@qq.com</td><td>100</td><td class="pa_td pa-cl"><span class="iconfont icon-shanchu_o"></span></td></tr>
                                    <tr><td>520221200112252001</td><td>张三</td><td>123456</td><td>0</td><td>19859252970</td><td>124@qq.com</td><td>100</td><td class="pa_td pa-cl"><span class="iconfont icon-shanchu_o"></span></td></tr>
                                    
                                </table>
						    </div>
                        </div>
                    </section>
                </main>
            </div>
        </div>
        <script th:src="@{/component/jquery.min.js}"></script>
        <script th:src="@{/js/MouseMove.js}"></script>
        <script th:src="@{/user.js}"></script>
        <script th:src="@{/js/air.js}"></script>
    </body>
</html>